#page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
}

header {
  background: #1b1c1d;
  padding: 15px 30px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  height: 60px;
}

header a {
  color: #fff;
}

header h1 {
  margin: 0;
  padding: 0;
  margin-right: 30px;
}

header h1 img {
  width: 100px;
}

header nav {
  align-self: center;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  color: #fff;
}

header nav ul li {
  margin-right: 15px;
}

footer {
  background: #1b1c1d;
  height: 60px;
  padding: 15px;
  color: #fff;
  text-align: center;
}

#map-page {
  display: flex;
  flex: 1;
}

#device-list {
  width: 350px;
  padding: 15px;
  position: fixed;
  right: 0;
  top: 60px;
  bottom: 60px;
  z-index: 999;
  overflow-y: scroll;
  background: rgba(255, 255, 255, 0.25);
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.marker {
  border: 1px solid red;
  display: none;
}

#loader {
  align-self: center;
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.event {
  background: #fff;
  border-radius: 5px;
  margin-top: 15px;
  padding: 15px;
}

.event table {
  border-collapse: collapse;
  width: 100%;
}

.event table td {
  text-align: center;
  font-weight: bold;
}

.event .event-time {
  font-size: 0.9em;
  font-weight: bold;
  color: #bbb;
  text-align: center;
  margin-bottom: 10px;
}

.unit-idle,
.unit-alert {
  background: #fff;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 15px;
}

.unit-alert {
  background: #ffc6c6;
}

.unit-id {
  font-weight: bold;
  font-size: 1.2em;
  border-bottom: 1px solid #bbb;
  margin-bottom: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.unit-data {
  margin-bottom: 15px;
}

.unit-data table {
  border-collapse: collapse;
  width: 100%;
}

.unit-data table tr td:first-child {
  padding-right: 5px;
  font-weight: bold;
}

.unit-data table tr {
  border-bottom: 1px solid #bbb;
}

.unit-data table td {
  padding-bottom: 5px;
  padding-top: 5px;
}

.unit-actions {
  display: flex;
  justify-content: flex-end;
}

.blink-icon {
  display: flex;
  align-content: center;
}

.blink-icon span {
  font-size: 0.75em;
  font-weight: 400;
  margin-right: 10px;
}

#jumbo {
  background: #1b1c1d;
  min-height: 50vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-content: center;
  color: #fff;
  background: url("/jumbo-bg.jpg");
  background-size: cover;
  flex-direction: column;
  margin-bottom: 30px;
  border-bottom: 2px solid #bbb;
}

#jumbo div {
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.5);
  display: inline-block;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

#jumbo div p {
  font-size: 1.2em;
}

#homepage {
  width: 100%;
  margin-bottom: 30px;
}
