#page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  border: 1px solid teal;
}

header {
  background: #1b1c1d;
}

footer {
  background: #f9f9f9;
  border-top: 1px solid #bbb;
}

#map-page {
  display: flex;
  flex: 1;
}

#device-list {
  width: 300px;
  padding: 15px;
  position: fixed;
  right: 0;
  top: 45px;
  bottom: 45px;
  z-index: 999;
  overflow-y: scroll;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.marker {
  border: 1px solid red;
  display: none;
}

#loader {
  align-self: center;
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.event {
  background: #fff;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 15px;
}
